
<div class="fb-friend-list">
    <div data-bb="selectedList" class="fb-selected-friends row-fluid">
    </div>
    <ul data-bb="availableList" class="fb-available-friends">
        {{#each friends}}
            <li data-id="{{this.id}}" class="friend" title="Click to add {{this.name}}">
              <img src="http://graph.facebook.com/{{this.id}}/picture" alt="{{this.name}}"/>
              {{this.name}}
            </li>
        {{/each}}
    </ul>
</div>