<div class="playerWrap">
<div class="mediaPlayer large-12 medium-12 small-12">
	<div id="leftPanel" class="large-8 medium-8 small-12">
		<div class="currentImage">
			<img src="{{imageURL}}" alt="{{title}}"></img>
		</div>
    <div class="sliderWrap">
		  <ul id="albumSlider">
			  {{#each relatedMediaItems}}
				  <li><img data-id="{{MediaId}}" src="{{MediaURL}}" alt="{{MediaItemTitle}}"></img></li>
			  {{/each}}
		  </ul>

		  <span id="slider-prev" class="prev"></span>
		  <span id="slider-next" class="next"></span>
    </div>
	</div>
	<div id="rightPanel" class="large-4 medium-4 small-12">
		<div class="rightPanelTopBar">
			<span class="closePlayerButton">X</span>
		</div>
		<div class="mediaItemInformation">
            <span class="title">{{title}}</span>
            <span class="subtitle">{{subtitle}}</span>
            <p>{{{description}}}</p>
		</div>
	</div>
</div>
</div>