<div class="filterPromoArea">
  
  <div class="mobileVenueFilters">
    <!-- This should show/hide with an "active" class or something, Nichole magic -->
    {{#if venueFilters.length}}
    <select data-bb="mobileVenueFilterSelect">
      {{#each venueFilters}}
        <option value="{{Venue}}">
          {{VenueText}}
        </option>
      {{/each}}
    </select>
    {{/if}}
  </div>
  
  <div class="calHeaderWrap">
    <div class="prevArrow" data-bb="previousDayArrow"></div>
    <div class="dayTitle" data-bb="daySelectDropdown">{{currentDate}}</div>
    <div class="nextArrow" data-bb="nextDayArrow"></div>   
  </div>

  <div class="chooseDateArea" style="display: none;"></div>
  
</div>

{{#if displayModels.length}}
  {{#each displayModels}}
    {{#if ShowVenue}}
    <ul class="mobileCalList">
      <li class="venueBar">{{Venue}}</li>
      {{#each Performances}}
      <li class="performanceLink">
        <a href="{{ReserveURL}}">
          {{#ifNotEqual ImageURL undefined}}
            <img src="{{ImageURL}}" />
          {{/ifNotEqual}}
          
          <div class="showInfo">
            <span>{{Name}}</span>
            <span>{{Time}}</span>
          </div>
          
        </a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  {{/each}}
{{else}}
  <span class="noCalendarItemsMessage">There are no events for {{currentDate}}.</span>
{{/if}}